services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - auth_network_dev

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth_dev
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d auth_dev"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - auth_network_dev

  backend:
    build:
      context: ../..
      dockerfile: infra/docker/Dockerfile.dev
    image: auth-server-dev
    env_file:
      - ../envs/.env.dev
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"
    volumes:
      - ../..:/app:delegated
      - /app/node_modules
    depends_on:
      - mongo
      - postgres
    networks:
      - auth_network_dev

networks:
  auth_network_dev:
    driver: bridge

volumes:
  mongo-data:
  postgres-data:
